@{
    ViewBag.Title = "Product";
    ViewBag.PageName = "product";
}

@model WebUI.Models.Catalog.ProductVM

@section Content {
    <section class="product-view">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					@Html.Action("LeftBar")
				</div>
				<div class="col-sm-9">

					@*<ul class="nav-alt clearfix">
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Catalog</a>
						</li>
						<li class="active">
							<a href="#">Product Name</a>
						</li>
					</ul>*@

					<div class="view-item clearfix">

						@if (Model.Images.Count() > 0)
                        {
                            <div class="sp-wrap">
                                @foreach (var item in Model.Images)
                                {
                                    <a href="@Url.Content(item)"><img src="@Url.Content(item)"></a>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="no-photo-wrap">
                                <img src="~/Assets/img/no-photo.svg" />
                            </div>
                        }

						<div class="parameters">
							<h1>@Model.ProductName</h1>
							<div class="form-group">
								<label>Size</label>
								<select>
									@foreach (var item in Model.Sizes)
                                    {
                                        <option>@item</option>
                                    }
								</select>
							</div>
							<div class="form-group">
								<label>Color</label>
								<select>
									@foreach (var item in Model.Colors)
                                    {
                                        <option>@item</option>
                                    }
								</select>
							</div>
							<p>$@Model.Price.ToString("N")</p>
                            @if (Request.IsAuthenticated)
                            {
                                <button data-id="@Model.ProductId">Add to Cart</button>
                            }
                            else
                            {
                                @Html.ActionLink("Sign In", "SignIn", "User", null, new { @class = "sign-in-button" })
                            }
						</div>
					</div>

					<div class="description">
						<h3>DESCRIPTION</h3>
						<p>@Model.Description</p>
					</div>

					@*<div class="share">
						<h3>SHARE THIS PRODUCT</h3>
						<div class="addthis_native_toolbox"></div>
					</div>

					<div class="recomend">
						<h3>MORE FROM THIS COLLECTION</h3>
						<ul class="recomend-items clearfix">
							<li>
								<a href="#">
									<img src="img/item.png">
									<h5>Honō 炎 (Flame) Orange - Orange Bezel</h5>
									<p>$45.00</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/item.png">
									<h5>Honō 炎 (Flame) Orange - Orange Bezel</h5>
									<p>$45.00</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/item.png">
									<h5>Honō 炎 (Flame) Orange - Orange Bezel</h5>
									<p>$45.00</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/item.png">
									<h5>Honō 炎 (Flame) Orange - Orange Bezel</h5>
									<p>$45.00</p>
								</a>
							</li>
						</ul>
					</div>*@

				</div>
			</div>
		</div>
	</section>
}